*{
    margin: 0;
    padding: 0;
}
#add_main{
    background: #343F3E;
    height: 613px;
}
#add_header{
    height: 100px;
    background: #D6CBC1;
}
#name_page{
    width: 200px;
    font-size: 30px;
    font-family: "Arial Black";
    position: relative;
    top: 25%;
    left: 10px;
}
#add_form {
    background: #F2F4F3;
    height: 490px;
    width: 300px;
    border: 10px solid #343F3E;
    border-style: double;
    margin: auto;
    padding: 10px 5px 10px 10px;
    position: relative;
    top: 7%;
    font-family: "Arial";
}
.form-floating{
    height: 50px;
}
.btn-primary {
    background-color: #393E41;
    border-color: #393E41;
    color: white;
}

.btn-primary:hover {
    background-color: #343434;
    border-color: #343434;
    color: #ffffff;
}
#button_table{
    text-decoration: none;
    position: relative;
    top: -20%;
    left: 85%;
    font-size: 30px;
    border: 2px solid #343434;
    color: #343434;
}
#title{
    width: 300px;
    height: 50px;
    color: #F2F4F3;
    position: relative;
    top: 40px;
    left: 625px;
    font-family: "Arial";
    font-size: 30px;
}
.btn-outline-danger {
    border-color: black;
    color: black;
}

.btn-outline-danger:hover,
.btn-outline-danger:checked,
.btn-outline-danger:active{
    color: #ffffff;
    background-color: #393E41;
    border-color: #393E41;
}
