*{
    margin: 0;
    padding: 0;
}
#table_header{
    background: #D6CBC1;
    height: 100px;
}
#table_main{
    background: #343F3E;
    height: 613px;
}
#name_page{
    width: 200px;
    font-size: 30px;
    font-family: "Arial Black";
    position: relative;
    top: 20%;
    left: 87%;
}
table{
    position: fixed;
    top: 30%;
    left: 23%;
}

#data-table {
    border-collapse: collapse;
    width: 55%;
    margin: 0 auto;
}
.grid-header {
    border: 1px solid #ccc;
    padding: 8px;
    background-color: #f2f2f2;
}

.grid-table td {
    border: 1px solid #ccc;
    padding: 8px;
    color: #F2F4F3;
}

#add{
    text-decoration: none;
    position: relative;
    left: 10px;
    top: -20%;
    font-size: 30px;
    border: 2px solid #343434;
    color: #343434;
}
#title{
    width: 300px;
    height: 50px;
    color: #F2F4F3;
    position: relative;
    top: 50px;
    left: 660px;
    font-family: "Arial";
    font-size: 30px;
}
.link-update{
    color: #cccccc;
}
